* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

@keyframes citrica {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

body {
    background-image: linear-gradient(to right, #181C24, #080C14);
    color: black;
    mix-blend-mode: difference;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 25px;
    background-image: linear-gradient(to right, #ffffff, #f5f5f5);
    padding: 10px;
    text-align: center;
}

iframe {
    animation-name: citrica;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
}

#video-div {
    position: relative;
}

#clock {
    animation-name: citrica;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    position: fixed;
    right: 7%;
    margin-top: 74%;
    background: inherit;
    padding: 25px;
    font-size: 90px;
    color: white;
    mix-blend-mode: difference;
}
