@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Roboto:wght@900&display=swap');

@keyframes citrica {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    background: rgb(23, 18, 43);
    color: white;
}

h1 {
    padding: 0 30px;
}

main {
    animation-name: citrica;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

header {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    text-align: center;
    font-weight: 900;
    padding: 3px 0;
    width: 100%;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    box-shadow: 0 0 75px white;
}

iframe {
    border: 3px solid black;
    border-radius: 10px;
    border-spacing: -2px;
    margin: 0 20px;
    flex: 1 0 auto;
}

p {
    margin: 0 20px;
    animation-name: fade;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.container {
    margin: 75px 0;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.time-left {
    margin: 0 7px;
    flex: 100 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
